@import '../../Common/Styles/_mixins';
@import '../../Common/Styles/_variables';

.profile {
  display: flex;
  &__pic {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 2px solid white;
    translate: 0 -4rem;
    object-fit: cover;
    box-sizing: border-box;

    @include mobile_devices {
      width: 8rem;
      height: 8rem;
      translate: 0 -2rem;
      aspect-ratio: 12/12;
    }
  }

  &_about {
    margin-left: 0.9rem;

    &__name {
      font-weight: bold;
    }

    &__line {
      font-size: 14px;
      opacity: 0.7;
    }
  }
}
