.profile {
    display: flex;

    &__pic {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        border: 2px solid white;
        translate: 0 -4rem;
        margin-left: 1rem;
        object-fit: cover;
        box-sizing: border-box;

        @media screen and (max-width : 375px) {
            width: 8rem;
            height: 8rem;
            translate: 0 -2rem;
            aspect-ratio: 12/12;
        }
    }

    &_about {
        margin-left: 0.9rem;

        &__name {
            font-weight: bold;
            font-family: 'sans-serif';
        }

        &__line {
            font-size: small;
            opacity: 0.7;
            font-family: 'sans-serif';
        }
    }

    &_social_network {}

}