// colors
$blue: #3d2ebf;
$GLITTER: #e2f0f9;
$POWDER_BLUE: #b0dde4;
$GREEN-BLUE: #286fb4;
$WHITE: #ffffff;
$TANGO_PINK: #ea7186;
$PLATINUM: #ebe8e7;
$TOOLBOX: #7a77b9;

// fonts
$sans-serif: sans-serif, 'Noto Sans', Muli, -apple-system, BlinkMacSystemFont;
